
# firmwares/{expire_time}/{md5}/{origin}/{filename}
location ~ /firmwares/(\d+)/([^/]+)/([^/]+)/([^/]+) {
    secure_link $2,$1;
    secure_link_md5 "$secure_link_expires$3$4 ${SECURE_LINK_SECRET}";

    if ($secure_link = "") { return 403; }
    if ($secure_link = "0") { return 410; }

    root /www;
    rewrite ^/firmwares/(\d+)/([^/]+)/([^/]+)/([^/]+)$ /firmwares/$3/$4 break;
}
